{
  "presets": [
    [ "env", {
      "targets": {
        "chrome": 59,
        "node": 8
      },
      "useBuiltIns": true,
      "debug": true
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "styled-components",
    "add-module-exports"
  ]
}
